extends layout
block content
    .container
        .row
            .col-md-offset-3.image
                img(width="64" height= "64" src= "resourses/business_icon.png")
            font(color="#003153" size="8") Business Srl

            .row
                .col-md-offset-2.marginTop
                    h4 Waiting payment confirmation for id request: #{purchaseid}
            .row
                .col-md-offset-2.marginTop.col-md-2
                    p Current Payment State:
                .marginTop.col-md-1
                    strong#state

            .row
                .col-md-offset-2.col-md-3.marginTop
                    button(type="custom",id="btnpurchase").btn.btn-lg.btn-block.btn-signin Purchasing state
                .col-md-offset-2.col-md-6.marginTop
                    p.marginTop
                        strong#div1
            .row
                .col-md-offset-2.col-md-2.marginTop
                    button(type="submit", onclick="window.location.href='/welcome?uid=#{userid}'").btn.btn-lg.btn-primary.btn-block.btn-signin back

    script(src="/javascripts/socket.io.js")
    script(src='/javascripts/jquery.min.js')

    script.
        $("#state").text("CONFIRM_PURCHASE");
        var socket = io();
        socket.emit('purchaseid', '#{purchaseid}');
        socket.on('msg', function(msg) {
            $("#state").text(msg);
        });

        $("#btnpurchase").click(function () {
            var url = '/purchaseinfo?token=#{token}&purchaseid=#{purchaseid}';
            $.ajax({
                url: url, success: function (result) {

                    var html = 'purchaseid: ' + result.purchaseid + '<br>' +
                            'debited_userid: ' + result.debited_userid + '<br>' +
                            'amount: ' + JSON.stringify(result.amount) + '<br>' +
                            'description: ' + result.description + '<br>' +
                            'status: ' + result.status + '<br>' +
                            'update: ' + result.update + '<br>' +
                            'create: ' + result.create + '<br>'

                    $("#div1").html(html);
                }
            });
        });

