extends layout

block content
    .container
        .row
            .col-lg-offset-3.image
                img(width="64" height= "64" src= "resourses/business_icon.png")
            font(color="#003153" size="8") Business Srl

            .row
                .col-lg-offset-3
                    h2 Welcome in your profile
                .col-lg-offset-3.col-lg-4
                    h4 User profile:
                    .border
                        p Name:
                            input(type="text",value="#{name}", disabled=true, style="text-align:right;").form-control
                        p Surname:
                            input(type="text",value="#{surname}", disabled=true, style="text-align:right;").form-control
                        p Email:
                            input(type="text",value="#{email}", disabled=true, style="text-align:right;").form-control
        form(name="add-estimation", method="post", action='/checkout').formblock
            input(type="hidden" name="userid" value="#{userid}")
            input(type="hidden" name="token" value="#{token}")

            .row
                .col-lg-offset-3.col-lg-4.marginTop
                    button(type="submit").btn.btn-lg.btn-primary.btn-block.btn-signin Checkout